 <div class="container-fluid p-3 h-100">
            <div class="row justify-content-center h-100 mt-5">
                <div id="market-coins" class="col-12 col-lg-6">
                    <h2 class="text-center">Purchase Assets</h2>
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1631865382441-b00105810564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div id="your-assets" class="col-12 col-lg-6">
                    <h2 class="text-center">Your Assets</h2>
                    
                </div>
            </div>
        </div>