<div class="container-fluid p-3 h-100">
    <div class="row justify-content-center h-100 mt-5">
        <div id="market-coins" class="col-12 col-lg-6">
            <h2 class="text-center">Purchase Assets</h2>
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1631865382441-b00105810564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                    class="card-img-top" alt="bitcoin">
                <div class="card-body">
                    <form id="buyForm" class="signup-form mb-auto p-3">
                        <div class="mb-3">
                            <label class="form-label" for="coin">Buy</label>
                            <select id="coinSelect" class="form-select" aria-label="Default select example">
                                <option selected>Crypo Coins</option>
                                <option value="btc">Bitcoin</option>
                                <option value="eth">Ethereum</option>
                                <option value="doge">Doge</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="quantity">Quantity</label>
                            <input class="form-control" type="number" id="quantity" step='0.0001'/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="total">Total</label>
                            <input class="form-control" type="number" id="total" step='0.0001' disabled/>
                        </div>
                        <div class="bottom-peak d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-info" type="submit">Buy Coins</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="your-assets" class="col-12 col-lg-6">
            <h2 class="text-center">Your Assets</h2>

        </div>
    </div>
</div>

<script src="/js/coinTotal.js"></script>