<div id="welcome" class="row justify-content-center h-100 mt-2">
    <div class="col-12 col-lg-6">
        <h1>Welcome to Coin-Busters</h1>
        <p>Considering crypo as an investment? Intimidated by the unfamiliar territory?
            Perhaps you haven't invested due to the inherent risks.</p>
        <p>Try our fun, educational, platform in which users can buy coins without forking over real money.
            Ride the ups and downs of crypto investment without risk of crashing.</p>
        <img class="welcome-img mb-3"
            src="https://images.unsplash.com/photo-1626162953675-544bf5a61ca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNyeXB0b3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
        <div class="register">
            <p>No need to register!</p>
            <p>Please use the default login to view a demo account, but feel free to make your own.</p>
            <a href="/login">Register Here</a>
        </div>
    </div>
</div>